extends layouts/LayoutTheme
include mixins/home/landing/HeroHeader
include mixins/home/landing/Services
include mixins/home/landing/FactCounter
include mixins/home/landing/VideoSection
include mixins/home/landing/Testimonial
include mixins/home/landing/Callback
include mixins/home/landing/FindUs
include mixins/home/landing/Cta
include mixins/home/landing/Footer

append variables
 
  - var currentPage = 3;
  -
    var attrsBody = {
        'data-bs-spy':"scroll",
        'data-bs-target':"#navbar"
    }



append styles
  link(href=`${CWD}vendors/swiper/swiper-bundle.min.css`,rel='stylesheet') 

prepend scripts
  script(src=`${CWD}vendors/swiper/swiper-bundle.min.js`) 


prepend scripts
  
append content
  +HeroHeader
  +Services
  +FactsCounter
  +VideoSection
  +Testimonial({id: 'pagination1'})
  +Callback
  +FindUs
  +Cta
  +PreFooter
